[Unit]
Description=Greenbone CE Containers
After=docker.service
Wants=network-online.target

[Service]
TimeoutStartSec=0
ExecStartPre=-export HOME=/opt /usr/bin/docker-compose -f /etc/greenbone/docker-compose.yml -p greenbone-community-edition pull
ExecStart=export HOME=/opt /usr/bin/docker-compose -f /etc/greenbone/docker-compose.yml -p greenbone-community-edition up -d

[Install]
WantedBy=multi-user.target