[Unit]
Description=Greenbone CE Containers
After=docker.service
Wants=network-online.target

[Service]
User=root
TimeoutStartSec=0
StandardOutput=console
Environment=HOME=/opt
ExecStartPre=/usr/bin/docker-compose -f /etc/greenbone/docker-compose.yml -p greenbone-community-edition pull
ExecStart=/usr/bin/docker-compose -f /etc/greenbone/docker-compose.yml -p greenbone-community-edition up -d

[Install]
WantedBy=multi-user.target